<!-- {{this.listOfTaxSlab.taxSlabs | json}} -->
<!-- <h3>Tax slab details edit</h3> -->
<hr>
<div class="pull-right">
  <button class="btn" (click)="saveTaxSlab()">Save</button>
  <button class="btn" (click)="addRange()">Cancel</button>
</div>
{{taxSlabform.value | json}}
<form [formGroup]="taxSlabform">
  <!-- <div *ngIf="taxSlab.taxSlabDetail else loadingData"> -->
  <div class="col-md-12">
    <div class="col-md-8">
      <b>Period from:</b>
      <input type="text" formControlName="fromYear" class="form-control" />
      <br>
      <b>Period to:</b>
      <input type="text" formControlName="toYear" class="form-control" />
      <br>
      <b>Category:</b>
      <input type="text" formControlName="category" class="form-control" />
      <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <b>From</b>
        </div>
        <div class="col">
          <b>To</b>
        </div>
        <div class="col">
          <b>Percentage</b>
        </div>
        <div class="col">
          <b>&nbsp;</b>
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col pull-right">
          <a (click)="addRange(null)">
              <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
        </div>
      </div>
      <div *ngFor="let taxSlabDetail of taxSlabform.controls.taxSlabDetail.controls; index as taxSlabDetailIndex">
        <div formArrayName="taxSlabDetail">
          <div [formGroupName]="taxSlabDetailIndex" class="row">
            <div class="col">
              <input type="text" formControlName="slabFromAmount" class="form-control" />
            </div>
            <div class="col">
              <input type="text" formControlName="slabToAmount" class="form-control" />
            </div>
            <div class="col">
              <input type="text" formControlName="percentage" class="form-control" />
            </div>
            <div class="col">
              <a (click)="removeRange(taxSlabDetailIndex)">
                <span>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #loadingData>
  <div>
    data loading
  </div>
</ng-template>
