<nav>
  <ul>
    <li><a [routerLink]="['/admin/taxSlab']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'USER' | translate}}</a></li>
    <li><a [routerLink]="['/admin/taxSlab/view']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'TAX_SLAB' | translate}}</a></li>
    <li><a [routerLink]="['/admin/taxSlab/viewDetail']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'SALARY_BREAK_UP_ITEMS' | translate}}</a></li>
  </ul>
</nav>
